<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="smtpHost" type="xstring" value="smtp.office365.com"/>
        <entry key="smtpPort" type="xint" value="587"/>
        <entry key="useAuthentication" type="xboolean" value="true"/>
        <entry key="useCredentials" type="xboolean" value="false"/>
        <entry key="credentialsId" type="xstring" value=""/>
        <entry key="smtpUser" type="xstring" value="a20609@alunos.ipca.pt"/>
        <entry key="smtpPasswordWeaklyEncrypted" type="xpassword" value="02CgAAAGMq_QxveL1vZ0EBj34rQ5pRCPeqwgbBCnjO"/>
        <entry key="connectionSecurity" type="xstring" value="STARTTLS"/>
        <entry key="emailFormat" type="xstring" value="Text"/>
        <entry key="emailPriority" type="xstring" value="Normal"/>
        <entry key="from" type="xstring" value="a20609@alunos.ipca.pt"/>
        <entry key="to" type="xstring" value="gomes3566@gmail.com"/>
        <entry key="cc" type="xstring" value=""/>
        <entry key="bcc" type="xstring" value=""/>
        <entry key="replyTo" type="xstring" value=""/>
        <entry key="subject" type="xstring" value="Workflow finished"/>
        <entry key="text" type="xstring" value="Aqui está o seu etl"/>
        <config key="attachedURLs">
            <entry key="array-size" type="xint" value="4"/>
            <entry key="0" type="xstring" value="file:/C:%5CUsers%5CLeo%5CDesktop%5Ctp1%5COutput%5CetlCSV.csv"/>
            <entry key="1" type="xstring" value="file:/C:%5CUsers%5CLeo%5CDesktop%5Ctp1%5COutput%5CTop%2010%20Transfers%20per%20club%20season.png"/>
            <entry key="2" type="xstring" value="file:/C:%5CUsers%5CLeo%5CDesktop%5Ctp1%5COutput%5CTop%20Transfers%20season%20by%20a%20club.png"/>
            <entry key="3" type="xstring" value="file:/C:%5CUsers%5CLeo%5CDesktop%5Ctp1%5COutput%5CTotal%20Transfer%20fee%20per%20Season.png"/>
        </config>
        <entry key="smtpConnectionTimeout" type="xint" value="2000"/>
        <entry key="smtpReadTimeout" type="xint" value="30000"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.util.sendmail.SendMailNodeFactory"/>
    <entry key="node-name" type="xstring" value="Send Email"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409100934"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Send Email"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="ce03e3a5-5994-4ca9-96b6-e651a0bcc5e0"/>
    </config>
</config>
